:root {
    background-color: #3a4142;
    color: #32e1fa;
    
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    margin: 0;
    
}

#header {
    height: 100px;
    width: 100vw;    
}

#nav {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    height: 10vh;
    line-height: 50px;
}
    

.word-count {
    display: inline-block;
    height: 100%;
    line-height: 50px;
}

.word-count:hover{
    color: #b1dde3
}

li {
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

li:hover {
    cursor: pointer;
}

#top-spacer {
    width: 100%;
    height: 10vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.results-rendered {
    font-weight: 700;
    font-size: 2rem;
}

#timer-display {
    font-size: 2rem;
    height: 5vh;
}

#typing-area {
    width: 1000px;
    height: 100%;
}
#mobile-input {
    visibility: hidden;
}
#mobileInput {
    width: 100%;
    font-size: 1rem;
    visibility: hidden;

}
.word {
    display: inline-block;
    padding: 0.5rem;
}

.letter {
    font-size: 1.5rem;
    line-height: 1.5rem;
    display:inline-block;
    padding: 0.125rem;
    height: 1.5rem;
    text-align: center;
    color: #b1dde3;
    font-weight: 900;
}

@keyframes cursor {
    0% {border-left: white 2px solid;}
    50% {border-left: white 2px solid;}
    75% {border-left: #3a4142 2px solid;}
    100% {border-left: white 2px solid;}
}

@keyframes hide {
    0% {opacity: 100%;}
    100% {opacity: 0%; display: none;}
}

@keyframes unhide {
    0% {opacity: 0%;}
    100% {opacity: 100%; display: flex;}
}

.word.active .letter.active {
    /*color: red;*/
    box-sizing: border-box;
    animation: cursor 1s infinite;
    box-shadow: inset 2px;
}

.letter.valid {
    color: #32e1fa;
}

.letter.invalid {
    color: red;
}

.fa:hover {
    cursor: pointer;
}